<!-- LLAMA AL FORMPERSONA HTML EL CUAL ESTÁ DENTRO DE UN MODAL Y SE HACE LA VALIDACION PARA QUE SE MUESTRE EL MODAL SOLO SI EL MODAL ESTÁ INACTIVO -->
<app-formunmedida *ngIf="modalService.modal" [unmedida]="unmedidaSeleccionada"></app-formunmedida>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card" style="align-items: center;">
    <img style="height: 50px; width: 50px; margin-right: 10px;" src="../../../assets/images/unmedida.png" />
    <h2 style="font-size: 30px; margin-bottom: 0px;" class="page-title">MÓDULO DE UNIDADES DE MEDIDA</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-5" style="align-self: center ;">
              <h6 style="font-weight: 500; font-size: 16px; margin-bottom: 0px;" class="card-title">REGISTRAR NUEVA
                UNIDAD DE MEDIDA</h6>

            </div><!-- Col -->
            <div class="col-sm-7" style="text-align:right;">
              <div>
                <button style="font-weight: 600; font-size: 13px; width: 200px; justify-content: center;" type="button"
                  class="btn btn-primary btn-icon-text" (click)="abrirModalNuevo()">
                  <i class="feather icon-plus-square btn-icon-prepend"></i>
                  CREAR
                </button>
              </div>
            </div><!-- Col -->

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 style="font-weight: 500; font-size: 16px;" class="card-title">LISTADO DE UNIDADES DE MEDIDA</h6>
        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table id="unmedidas" class="table table-striped table-lg text-center">
                  <thead class="bg-primary">
                    <tr>
                      <th class="col-md-9 text-dark">Nombre</th>
                      <th class="col-md-1 text-dark">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let unmedida of unmedidas">
                      <td>{{unmedida.nom_UNMEDIDA}}</td>
                      <td>
                        <button style="margin-right: 2px;" type="button"  class="btn btn-warning btn-icon btn-sm" name="actualizar"
                          (click)="abrirModal(unmedida)"><i class="feather icon-edit"></i>
                        </button>
                        <button style="margin-left: 2px;" type="button" class="btn btn-primary btn-icon btn-sm" name="eliminar"
                          (click)='delete(unmedida)'><i class="feather icon-x-square"></i>
                        </button>
                      </td>
            
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>