<app-formsector *ngIf="modalService.modal" [sector]="sectorSeleccionada"></app-formsector>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card" style="align-items: center;">
    <img style="height: 50px; width: 50px; margin-right: 10px;" src="../../../assets/images/sector.png" />
    <h2 style="font-size: 30px; margin-bottom: 0px;" class="page-title">MÓDULO DE SECTORES</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-5" style="align-self: center ;">
              <h6 style="font-weight: 500; font-size: 16px; margin-bottom: 0px;" class="card-title">REGISTRAR NUEVO
                SECTOR</h6>

            </div><!-- Col -->
            <div class="col-sm-7" style="text-align:right;">
              <div>
                <button style="font-weight: 600; font-size: 13px; width: 200px; justify-content: center;" type="button"
                  class="btn btn-primary btn-icon-text" (click)="abrirModalNuevo()">
                  <i class="feather icon-plus-square btn-icon-prepend"></i>
                  CREAR
                </button>
              </div>
            </div><!-- Col -->

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 style="font-weight: 500; font-size: 16px;" class="card-title">LISTADO DE SECTORES</h6>
        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table id="sectores" class="table table-striped table-lg text-center">
                  <thead class="bg-primary">
                    <tr>
                      <th class="col-md-9">Nombre</th>
                      <th class="col-md-9">Almacén</th>
                      <th class="col-md-1">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sector of sectores">
                      <td>{{sector.nom_SECTOR}}</td>
                      <td>{{sector.id_ALMACEN.nom_ALMACEN}}</td>
                      <td>
                        <button style="margin-right: 2px;" type="button"  class="btn btn-warning btn-icon btn-sm" name="actualizar"
                          (click)="abrirModal(sector)"><i class="feather icon-edit"></i>
                        </button>
                        <button style="margin-left: 2px;" type="button" class="btn btn-primary btn-icon btn-sm" name="eliminar"
                          (click)='delete(sector)'><i class="feather icon-x-square"></i>
                        </button>
                      </td>
            
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>